<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="user-scalable=no,width=device-width" name="viewport">
	<meta name="format-detection" content="telephone=no">
	<meta content="中远融投是中国领先的在线理财服务平台，帮助您发布/查找信托产品、理财产品、理财顾问、理财问答、证券公司、期货开户等本地投资理财信息。" name="description">
	<meta content="外汇 二元期权 投资 中远融投" name="keywords">
	<title>首页</title>
	<script type="text/javascript" src="__STATIC__/TouchSlide.1.1.js"></script>
	<link rel="stylesheet" href="__CSS__/index.css">
</head>
<body>
	<header class="mod_header">
		<a class="head_reture" href="javascript:history.go(-1);"></a>
		<div class="head_logo" title="中远融投">
			<span class="zyrt_logo">中远融投</span>
		</div>
		<div class="head_right_control clearfix">
			<a class="right_btn right_btn_2" href="/nav.html"></a>
		</div>
	</header>
	<div class="mod_container idx_container">
		<div class="slideimg">
			<!-- slide start -->
				<div id="slideBox" class="slideBox">
					<div id="focus" class="focus">
						<div class="hd">
							<ul></ul>
						</div>
						<div class="bd">
							<ul>
								<li><a href="#"><img _src="http://static.jinfuzi.com/edit/image/1428737167.jpeg" src="__IMG__/blank.png"/></a></li>
								<li><a href="#"><img _src="http://static.jinfuzi.com/edit/image/1427682033.png"/></a></li>
								<li><a href="#"><img _src="http://static.jinfuzi.com/edit/image/1428470136.jpeg"/></a></li>
							</ul>
						</div>
					</div>
					<script type="text/javascript">
						TouchSlide({ 
							slideCell:"#focus",
							titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
							mainCell:".bd ul", 
							effect:"left", 
							autoPlay:true,//自动播放
							autoPage:true, //自动分页
							switchLoad:"_src" //切换加载，真实图片路径为"_src" 
						});
					</script>
				</div>
			<!-- slide end -->
			
		</div>
		<div class="idx_box_1">
			<div class="idx_media_wrap">
				<div class="media_inner clearfix">
					<span class="ico"></span>
					
					<div id="word" class="word">
						<div class="hd" style="display:none;">
							<ul></ul>
						</div>
						<div class="bd">
							<ul class="article_title">
								<li><a href="#">墨西哥教师罢工 与警察激烈冲突</a>
									</li>
								<li><a href="#">日右翼游行纪念钓岛"国有化"周年</a>
									</li>
								<li><a href="#">女兵竞选美国小姐鼓励女性自强</a>
									</li>
								<li><a href="#">济南现“最窄人行道” 仅0.2米宽</a>
									</li>
							</ul>
						</div>
					</div>
					<script type="text/javascript">
						TouchSlide({ 
							slideCell:"#word",
							titCell:".hd ul",
							mainCell:".bd ul", 
							effect:"leftLoop", 
							autoPage:true,//自动分页
							autoPlay:true //自动播放
						});
					</script>


				</div>
			</div>
			<div class="idx_nav_1">
				<ul class="idx_navlist_1 clearfix">
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_06"></em>
						</span>
						<span class="txt">股票配资</span>
					</li>
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_01"></em>
						</span>
						<span class="txt">银行票据</span>
					</li>
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_05"></em>
						</span>
						<span class="txt">阳光私募</span>
					</li>
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_04"></em>
						</span>
						<span class="txt">信托产品</span>
					</li>
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_07"></em>
						</span>
						<span class="txt">股票开户</span>
					</li>
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_10"></em>
						</span>
						<span class="txt">理财问答</span>
					</li>
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_11"></em>
						</span>
						<span class="txt">APP下载</span>
					</li>
					<li class="nav_item">
						<a href="/tg/qh-6.html"></a>
						<span class="nav_ico">
							<em class="idx_adv_ico idx_adv_ico_12"></em>
						</span>
						<span class="txt">更多</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="idx_box idx_box_da">
			<table class="da_table" width="100%" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td width="49%">
							<a href="http://m.jinfuzi.com/xintuo/tg-10.html">
								<img src="http://static.jinfuzi.com/edit/image/1425981328.jpeg" alt="">
							</a>
						</td>
						<td width="2%"></td>
						<td width="49%">
							<a href="http://m.jinfuzi.com/simu/tg-8.html">
								<img src="http://static.jinfuzi.com/edit/image/1425981765.jpeg" alt="">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="idx_box">
			<div class="box_hd clearfix">
				<span class="txt">小额理财</span>
				<small>100元起</small>
			</div>
			<div class="box_bd">
				<ul class="idx_navlist_2 clearfix">
					<li class="nav_item nav_item_hot">
						<a class="item_inner" href="http://m.xueqiu360.com/tg-20.html">
							<span class="item_ico item_ico_1">
								<span class="idx_adv_ico idx_adv_ico_01"></span>
							</span>
							<span class="item_wrap">
								<sapn class="line_1">银行票据</sapn>
								<sapn class="line_2">风险来自银行倒闭</sapn>
							</span>
						</a>
						<span class="item_state"></span>
					</li>
					<li class="nav_item">
						<a class="item_inner" href="/xueqiu/tg-4A.html">
							<span class="item_ico item_ico_2">
								<span class="idx_adv_ico idx_adv_ico_02"></span>
							</span>
							<span class="item_wrap">
								<span class="line_1">货币基金</span>
								<span class="line_2">100起随时取现</span>
							</span>
						</a>
						<span class="item_state"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="idx_box">
			<div class="box_hd clearfix">
				<span class="txt">小额理财</span>
				<small>100元起</small>
			</div>
			<div class="box_bd">
				<ul class="idx_navlist_2 clearfix">
					<li class="nav_item nav_item_hot">
						<a class="item_inner" href="http://m.xueqiu360.com/tg-20.html">
							<span class="item_ico item_ico_1">
								<span class="idx_adv_ico idx_adv_ico_01"></span>
							</span>
							<span class="item_wrap">
								<sapn class="line_1">银行票据</sapn>
								<sapn class="line_2">风险来自银行倒闭</sapn>
							</span>
						</a>
						<span class="item_state"></span>
					</li>
					<li class="nav_item">
						<a class="item_inner" href="/xueqiu/tg-4A.html">
							<span class="item_ico item_ico_2">
								<span class="idx_adv_ico idx_adv_ico_02"></span>
							</span>
							<span class="item_wrap">
								<span class="line_1">货币基金</span>
								<span class="line_2">100起随时取现</span>
							</span>
						</a>
						<span class="item_state"></span>
					</li>
					<li class="nav_item nav_item_hot">
						<a class="item_inner" href="http://m.xueqiu360.com/tg-20.html">
							<span class="item_ico item_ico_1">
								<span class="idx_adv_ico idx_adv_ico_01"></span>
							</span>
							<span class="item_wrap">
								<sapn class="line_1">银行票据</sapn>
								<sapn class="line_2">风险来自银行倒闭</sapn>
							</span>
						</a>
						<span class="item_state"></span>
					</li>
					<li class="nav_item">
						<a class="item_inner" href="/xueqiu/tg-4A.html">
							<span class="item_ico item_ico_2">
								<span class="idx_adv_ico idx_adv_ico_02"></span>
							</span>
							<span class="item_wrap">
								<span class="line_1">货币基金</span>
								<span class="line_2">100起随时取现</span>
							</span>
						</a>
						<span class="item_state"></span>
					</li>
				</ul>
			</div>
		</div>

		<div class="mod_ft_nav clearfix">
			<ul class="left_nav_list"></ul>
			<ul class="right_nav_list">
				<li class="nav_item">
					<a href="/xueqiu/tg-4A.html">下载APP</a>
				</li>
				<li class="nav_item">
					<a href="/advert/home-3.html">媒体报道</a>
				</li>
				<li class="nav_item">
					<a href="/aboutus.html">关于我们</a>
				</li>
			</ul>
		</div>
	</div>
	<footer class="mod_footer">
		<div class="footer_inner">
			<div class="foot_info foot_logo">中远融投投资有限公司</div>
			<div class="foot_info">中远融投注册资金一亿元</div>
			<div class="foot_info">投资有风险，选择需谨慎</div>
		</div>
	</footer>
</body>

</html>