<extend name="Public/base"/>
	<div class="admin-left">
		<span class="admin-nav-top"><a href="">网站首页</a>|<a href="">后台首页</a></span>
		<div class="admin-nav">
			<block name="menu">
				<ul>
					<li><a href="{:U('Auth/index')}">角色列表</a></li>
					<li><a href="{:U('Auth/role')}">添加角色</a></li>
					<li><a href="{:U('Auth/node')}">节点列表</a></li>
					<li class="active"><a href="{:U('Auth/addNode')}">添加节点</a></li>
					<li><a href="{:U('Auth/addModules')}">添加模块</a></li>
				</ul>
			</block>
	</div>
	<block name="right">
	<div class="admin-right">
		<ol class="breadcrumb">
		  <li><a href="#">权限管理</a></li>
		  <li><a href="#">添加节点</a></li>
		  
		</ol>
		<form name="addRole" class="form-horizontal addRole" role="form">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">节点名称：</label>
		    <div class="col-sm-2">
		      <input dataType="*" nullmsg="不能为空" type="text" class="form-control" name="name">
		    </div>
		    <label class="control-label" for="inputSuccess">如：Admin/User/index</label>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">节点描述：</label>
		    <div class="col-sm-2">
		      <input dataType="s2-30" nullmsg="不能为空" type="text" class="form-control" name="title">
		    </div>
		    <label class="control-label" for="inputSuccess">如：管理员列表</label>
		  </div>
		   <div class="form-group">
		    <label class="col-sm-2 control-label">状态： </label>
		    <div class="col-sm-2">
		       <label class="radio-inline"><input value="1" type="radio" name="status" checked="checked"/>开启</label>
		       <label class="radio-inline"> <input value="0" type="radio" name="status" />关闭</label>		     
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">规则附加条件：</label>
		    <div class="col-sm-3">
		      <textarea class="form-control" name="condition" rows="3"></textarea>
		    </div>
		    <label class="control-label" for="inputSuccess"></label>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">所属模块：</label>
		    <div class="col-sm-2">
		      	<select class="form-control" name="modules_id">
				  <volist name="modules" id="vo">
				  	<option value="{$vo.id}">{$vo.modules_name}</option>
				  </volist>
				</select>
		    </div>
		    <label class="control-label" for="inputSuccess"></label>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-info">确定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      <a class="btn btn-info" href="{:U(index)}">返回</a>
		    </div>
		  </div>
		</form>
	</div>
	</block>
</body>
<block name="script">
	<script type="text/javascript">
		validate('.addRole');
		//导航高亮
        highlight_subnav('{:U("Auth/index")}');
	</script>
</block>
</html>