<extend name="Public/base"/>
	<div class="admin-left">
		<span class="admin-nav-top"><a href="">网站首页</a>|<a href="">后台首页</a></span>
		<div class="admin-nav">
			<block name="menu">
				<ul>
					<li><a href="{:U('Auth/index')}">角色列表</a></li>
					<li class="active"><a href="{:U('Auth/role')}">添加角色</a></li>
					<li><a href="{:U('Auth/node')}">节点列表</a></li>
					<li><a href="{:U('Auth/addNode')}">添加节点</a></li>
					<li><a href="{:U('Auth/addModules')}">添加模块</a></li>
				</ul>
			</block>
	</div>
	<block name="right">
	<div class="admin-right">
		<ol class="breadcrumb">
		  <li><a href="#">权限管理</a></li>
		  <li><a href="#">添加角色</a></li>
		  
		</ol>
		<form class="form-horizontal addRole" role="form" action="{:U(addRole)}" method="POST">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">角色：</label>
		    <div class="col-sm-3">
		      <input type="text" dataType="*2-10" nullmsg="不能为空" class="form-control" name="title">
		    </div>
		    <!-- <label class="control-label" for="inputSuccess"></label> -->
		  </div>
		   <div class="form-group">
		    <label class="col-sm-2 control-label">描述： </label>
		    <div class="col-sm-4">
		       <textarea class="form-control" dataType="*2-40" nullmsg="不能为空" rows="6" name="description"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button id="btn_sub" type="submit" class="btn btn-info">确定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      <a class="btn btn-info" href="{:U(index)}">返回</a>
		    </div>
		  </div>
		</form>
	</div>
	</block>
</body>
<block name="script">
	<script language='javascript' src="__JS__/addRole.js"></script>
	<script type="text/javascript">
		//导航高亮
        highlight_subnav('{:U("Auth/index")}');

	</script>
</block>
</html>