<extend name="Public/base"/>
	<div class="admin-left">
		<span class="admin-nav-top"><a href="">网站首页</a>|<a href="">后台首页</a></span>
		<div class="admin-nav">
			<block name="menu">
				<ul>
					<li><a href="{:U('Auth/index')}">角色列表</a></li>
					<li><a href="{:U('Auth/addRole')}">添加角色</a></li>
					<li><a href="{:U('Auth/node')}">节点列表</a></li>
					<li><a href="{:U('Auth/addNode')}">添加节点</a></li>
					<li><a href="{:U('Auth/addModules')}">添加模块</a></li>
				</ul>
			</block>
	</div>
	<block name="right">
	<div class="admin-right">
		<ol class="breadcrumb">
		  <li><a href="#">权限管理</a></li>
		  <li><a href="#">为<font style="color:red;">{$group}组</font>分配管理员</a></li>
		  
		</ol>
		<form method="POST" action="{:U('Auth/toGroup',array('gid'=>I('gid')))}" class="form-horizontal" role="form">
			<volist name="user" id="vo">
			  <div class="checkbox">
			    <h4>
			    	<label>
			     	 <input <php>if(in_array($vo['uid'], $authUser)){echo "checked='true'";}</php> type="checkbox" name="userid[]" value="{$vo.uid}"> {$vo.username}
			     	 <small>最后登录时间：{$vo.last_login_time|date='Y-m-d H:i:s',###}</small>
			        </label>
			    </h4>
			  </div>
		    </volist>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-info">确定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      <a class="btn btn-info" href="{:U('User/index')}">返回</a>
		    </div>
		  </div>
		</form>
	</div>
	</block>
</body>
<block name="script">
	<script type="text/javascript">
		//导航高亮
        highlight_subnav('{:U("Auth/index")}');
	</script>
</block>
</html>