<include file="Base:header" />

</head>

<body>
    <div id="wrapper">
        <include file="Base:slibar" />

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="icon-reorder"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message"><a href="index.html" title="返回首页"><i class="icon-home"></i></a>欢迎使用</span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="index.html#">
                                <i class="icon-envelope"></i> <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="__IMG__/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46小时前</small>
                                            <strong>小四</strong> 项目已处理完结
                                            <br>
                                            <small class="text-muted">3天前 2014.11.8</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="__IMG__/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">25小时前</small>
                                            <strong>国民岳父</strong> 这是一条测试信息
                                            <br>
                                            <small class="text-muted">昨天</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="icon-envelope"></i> <strong> 查看所有消息</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="index.html#">
                                <i class="icon-bell"></i> <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="icon-envelope fa-fw"></i> 您有16条未读消息
                                            <span class="pull-right text-muted small">4分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="icon-qq fa-fw"></i> 3条新回复
                                            <span class="pull-right text-muted small">12分钟钱</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>查看所有 </strong>
                                            <i class="icon-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{:U('Public/login')}">
                                <i class="icon-signout"></i> 退出
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>请假单</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">主页</a>
                        </li>
                        <li>
                            <a>表单</a>
                        </li>
                        <li>
                            <strong>表单验证</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>请假单</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="form_basic.html#">选项1</a>
                                        </li>
                                        <li><a href="form_basic.html#">选项2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <form class="form-horizontal m-t" id="off-form" name="off-form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">签单：</label>
                                        <div class="col-sm-3">
                                            <input readonly id="signTime" name="signTime" type="text" class="form-control layer-date" aria-required="true" aria-invalid="true" class="error" placeholder="签单日期" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">开始：</label>
                                        <div class="col-sm-3">
                                            <input readonly id="startTime" name="startTime" type="text" class="form-control layer-date" aria-required="true" aria-invalid="true" class="error"
                                             placeholder="请假开始日期" >
                                        </div> 
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">结束：</label>
                                        <div class="col-sm-3">
                                            <input readonly id="endTime" name="endTime" type="text" class="form-control layer-date" aria-required="true" aria-invalid="true" class="error" 
                                            placeholder="请假结束日期">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">请假天数：</label>
                                        <div class="col-sm-2">
                                            <input id="days" name="days" type="text" readonly="" class="form-control ">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">请假类型：</label>
                                        <div class="col-sm-9">
                                            <label class="checkbox-inline radio i-checks">
                                                <input type="radio" value="1" name="type" checked="">事假</label>
                                            <label class="checkbox-inline i-checks">
                                                <input type="radio" value="2" name="type">公假</label>
                                            <label class="checkbox-inline i-checks">
                                                <input type="radio" value="3" name="type">病假</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">请假原因：</label>
                                        <div class="col-sm-5">
                                            <textarea class="form-control" aria-required="true" required="" name="offreason"></textarea>
                                        </div>
                                    </div>
                                    <if condition="session('uid') neq 5">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">提交部门经理签字：</label>
                                        <div class="col-sm-9">  <volist name="data1" id="vo">
                                            <label class="checkbox-inline radio i-checks"> 
                                            <input type="radio" value="{$vo.uid}" name="manager"><i></i>{$vo.username}
                                            </label>  </volist>                          
                                        </div>
                                    </div>
                                    </if>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">提交行政总监签字：</label>
                                        <div class="col-sm-9"> <volist name="data2" id="vo">
                                            <label class="checkbox-inline radio i-checks">   
                                            <input type="radio" value="{$vo.uid}" name="director"><i></i>{$vo.username}
                                            </label></volist>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">说明：</label>
                                        <div class="col-sm-6"> 
                                            <p>1、休假须提前1天以上填写申请单，否则不予批复。请批流程为先由本部门经理核准后报总经理，批复备案后方可休假。</p>
                                            <p>2、无申请单、当日补写申请单，提交申请单未批复的，休假将按旷工处理。</p>
                                        </div>
                                    </div>
                                    
                                    <if condition="in_array($result['status'],array(0,''))">
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-3">
                                                <button class="btn btn-primary" type="submit" id="btn2">提交</button>
                                            </div>
                                        </div>
                                    </if>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
                </div>
                <div>
                    <strong>Copyright</strong> H+ &copy; 2014
                </div>
            </div>

        </div>
    </div>


    </div>
    <!-- iCheck -->
    <link href="__STATIC__/iCheck/skins/all.css" rel="stylesheet">
    <script src="__STATIC__/iCheck/icheck.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="__JS__/hplus.js"></script>
    <script src="__STATIC__/pace/pace.min.js"></script>
    
    <script src="__STATIC__/layer1.9.3/layer.js"></script>
    <!-- layerdate -->
    <script src="__STATIC__/layer/laydate/laydate.js"></script>
    <script> 


        $(document).ready(function () {
            var now=new Date();
            $("#signTime").val(now.getFullYear() + "/"+ (now.getMonth()+1)+"/"+now.getDate()+" "+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds()); 
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        }); 
        //导航高亮
        highlight_subnav('{:U("Off/index")}');

        //以下为修改jQuery Validation插件兼容Bootstrap的方法，没有直接写在插件中是为了便于插件升级
        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                element.closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: "span",
            errorClass: "help-block m-b-none",
            validClass: "help-block m-b-none"


        });

         //以下为官方示例
        $().ready(function () {
            // validate signup form on keyup and submit
            $("#off-form").validate({ 
                rules: {
                    signTime: {
                        required : true,
                        date : true
                    },
                    startTime: {
                        required : true,
                        date : true
                    },
                    endTime: {
                        required : true,
                        date : true
                    },
                    offreason: "required"
                    
                },
                messages: {
                    signTime: {
                        required : "请输入签单时间",
                        date : "日期格式不对，请重填"
                    },
                    startTime: {
                        required : "请输入请假开始时间",
                        date : "日期格式不对，请重填"
                    },
                    endTime: {
                        required : "请输入请假结束时间",
                        date : "日期格式不对，请重填"
                    },
                    offreason:"请输入请假原因"
                },
                submitHandler: function(form) {  //通过之后回调 
                    var param = $("#off-form").serialize();
                    alert(param);
                    $.ajax({ 
                        url : "{:U('Off/signUp')}", 
                        type : "POST", 
                        dataType : "json", 
                        data: param, 
                        success : function(result) { 
                            if(result.status){
                                layer.alert(result.info,{icon:6});
                                window.location.href="{:U('Off/lists')}"
                            }else{
                                layer.alert(result.info,{icon:5})
                            }
                        } 
                    }); 
                } 
            });
            
        });

        // layerdata
        laydate.skin('molv');

         //日期范围限制
        var signTime = {
            elem: '#signTime',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: true,
            isclear: true,
            choose: function (datas) {

            }
        };
        var startTime = {
            elem: '#startTime',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(+1), //设定最小日期为当前日期
            max: '2099-06-16 ', //最大日期
            istime: true,
            istoday: false,
            isclear: true,
            choose: function (datas) {
                endTime.min = datas; //开始日选好后，重置结束日的最小日期
                endTime.start = datas //将结束日的初始值设定为开始日
            }
        };
        var endTime = {
            elem: '#endTime',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(+1),
            max: '2099-06-16',
            istime: true,
            istoday: false,
            isclear: true,
            choose: function (datas) {
                var st=$("#startTime").val();
                var et=$("#endTime").val();
                var day_time = datetime_to_unix(st,et);
                $("#days").val(day_time);
                startTime.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(signTime);
        laydate(startTime);
        laydate(endTime);
        function datetime_to_unix(st,et){

            var offday=0;
            var offtime=0;
            var start=Date.parse(new Date(st))/1000;
            var end=Date.parse(new Date(et))/1000;

            if(start && end){
                offday=parseInt((end-start)/3600/24);
                offtime=Math.ceil((end-start)/3600%24);
            }
            var day_time=offday+'天'+offtime+'小时';
            return day_time;
        }
        
    </script>

</body>

</html>
